.error {
    color: pink;
}

.blog {
    background-color: #4e5965;
    border-width: -5px;
    border-color: #a9b3bc;
    border-style: solid;
    position: auto;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    margin: auto;
}

.add_blog {
    background-color: #4e5965;
    border-width: -5px;
    border-color: #a9b3bc;
    border-style: solid;
    border-spacing: 1% 2em;
    position: auto;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    margin: auto;
}

.blog_button {
    position: auto;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    margin: auto;
}

body {
    background: #708090;
    font-family: "Source Sans Pro", sans-serif; color: white;
    font-size: 15px;
    font-weight: 300;
    margin-left: center;
}

a:link {
    color: #4e5965;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: #4e5965;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: none
}

a:active {
    color: #4e5965;
    background-color: transparent;
    text-decoration: underline
}
