<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css\styles.css">
        <title>Brad's Blog</title>
    </head>
    <body>
        <div align="center">
            <h1>
                <a href='/'>A Day in the Life of Brad</a>
            </h1>
            <button><a href="/blog" style ="color:#708090">Recent Blogs</a></button>
            <button><a href="/newpost" style ="color:#708090">New Entry</a></button>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
