{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
{% if blogs: %}
    <p class="blog_entry">
        <label>Title:
        <a href={{ bloglink }}>{{ blog.title }}</a>
        </label>
        <br>
        <label>Date:
        {{ blog.created }}
        </label>
        <br>
        <br>
        <label>
        {{ blog.entry_blog }}
        </label>
    </p>
<br>
<br>

{% endif %}

<form action="/all" class="blog_button">
    <input type="submit" value="See All" style ="color:#708090"/>
</form>

{% endblock %}
