{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
{% if blog %}
    <p class="blog_entry">
        <label>Title:
        <a href="{{entry}}">{{ blog.title }}</a>
        </label>
        <br>
        <label>Date:
        {{ blog.created.strftime("%b, %d, %Y") }}
        </label>
        <br>
        <br>
        <label>
        {{ blog.entry_blog }}
        </label>
    </p>
<br>
<br>
{% endif %}
<form action="/" class="blog_button">
    <input type="submit" value="Back to Main" style ="color:#708090"/>
</form>

{% endblock %}
