{% extends "base.html" %}

{% block content %}

<p>Thanks! Your entry has been added</p>

<br>
<br>
<br>
{% for blog in blogs %}
    <p>
        <label>Title:
        {{ blog.title }}
        </label>
        <br>
        <label>Date:
        {{ blog.created }}
        </label>
        <br>
        <br>
        <label>Entry:
        {{ blog.blog_entry }}
        </label>
    </p>
<br>
<br>

{% endfor %}

<form action="/all">
    <input type="submit" value="See All"/>
</form>

<p class="error">{{ error if error else "" }}</p>

{% endblock %}
