{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>

{% for blog in blogs %}
    <p class="blog_entry">
        <label>Title:
        <a href='/blog/{{blog.key().id()}}'>{{ blog.title }}</a>
        </label>
        <br>
        <label>Date:
        {{ blog.created.strftime("%b, %d, %Y") }}
        </label>
        <br>
        <br>
        <label>
        {{ blog.entry_blog }}
        </label>
    </p>
<br>
<br>
{% endfor %}
{% if page %}
<div align="center">
    <button style="color:#708090"><a href='blog?page={{page}}'>Previous</a></button>
{{ page | safe }}
</div>
{% endif %}
{% endblock %}
