{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>

{% for blog in blogs %}
    <p class="blog_entry">
        <label>Title:
        <a href='/blog/{{blog.key().id()}}'>{{ blog.title }}</a>
        </label>
        <br>
        <label>Date:
        {{ blog.created.strftime("%b, %d, %Y") }}
        </label>
        <br>
        <br>
        <label>
        {{ blog.entry_blog }}
        </label>
    </p>
<br>
{% endfor %}
<style>
div {
    width: 800px;
    height: auto;
    margin: auto;
}
</style>
<div>
    {% if page %}
    <p>Page: {{page}}</p>
    {% endif %}
    {% if previous_page %}
        <button style="color:#708090"><a href='blog?page={{ previous_page | safe }}'>Previous</a></button>
    {% endif %}
    {% if next_page %}
        <button style="color:#708090"><a href='blog?page={{ next_page | safe }}'>Next</a></button>
    {% endif %}
</div>
{% endblock %}
