{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
{% for entry in blogs %}

    <p class="blog_entry">
        <label>Title:
        <a href="/">{{ entry.title }}</a>
        </label>
        <br>
        <label>Date:
        {{ entry.created }}
        </label>
        <br>
        <br>
        <label>
        {{ entry.entry_blog }}
        </label>
    </p>
<br>
<br>

{% endfor %}

<form action="/all" class="blog_button">
    <input type="submit" value="See All" style ="color:#708090"/>
</form>

{% endblock %}
