{% extends "base.html" %}

{% block content %}

</style>

<br>
<br>
<br>
<br>
<form action="/newpost" method="post" class="add_blog">
    <label>
        <br>
        Title:
        <input type="text" name="title" value="{{ title }}"> <text class="error">{{ error_title if error_title else "" }}</text>
        <br>
        <br>
    </label>
        Add a new blog entry:
        <input type="text" name="entry_blog" value="{{ entry_blog }}" size="50px" /> <text class="error">{{ error_entry if error_entry else "" }}</text>
    </label>
    <br>
    <br>
    <input type="submit" value="Add it to My Blog"/>
</form>

{% endblock %}
